<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ADMIN</param-name>
    <param-value>brown</param-value>
  </context-param>
  <servlet>
    <servlet-name>basicServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.BasicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>basicServlet</servlet-name>
    <url-pattern>/bs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nowDate</servlet-name>
    <servlet-class>kr.or.ddit.servlet.NowDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nowDate</servlet-name>
    <url-pattern>/nowDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gugu</servlet-name>
    <servlet-class>kr.or.ddit.servlet.Gugu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gugu</servlet-name>
    <url-pattern>/gugu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>kr.or.ddid.login.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sum</display-name>
    <servlet-name>Sum</servlet-name>
    <servlet-class>kr.or.ddit.sum.Sum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sum</servlet-name>
    <url-pattern>/Sum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gob</display-name>
    <servlet-name>Gob</servlet-name>
    <servlet-class>kr.or.ddit.gob.Gob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gob</servlet-name>
    <url-pattern>/Gob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>kr.or.ddit.user.comtroller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>kr.or.ddit.login.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPagingList</display-name>
    <servlet-name>UserPagingList</servlet-name>
    <servlet-class>kr.or.ddit.user.comtroller.UserPagingList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPagingList</servlet-name>
    <url-pattern>/UserPagingList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LprodController</display-name>
    <servlet-name>LprodController</servlet-name>
    <servlet-class>kr.or.ddit.lprod.controller.LprodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LprodController</servlet-name>
    <url-pattern>/LprodController</url-pattern>
  </servlet-mapping>
</web-app>